<?xml version="1.0" encoding="UTF-8"?>

<!-- NOTE: property names are not case sensitive -->

<stitcher>
    <component name="stitcher">
        <!--values are version3 (default) or version2 -->
        <property name="stitcher">
            <value>version3</value>
        </property>
        <component name="demStitcher">
            <property name="action">
                <value>stitch</value>
            </property>
            <property name='noFilling'>
                <value>False</value>
            </property>
            <property name="url1">
            <value>{dem_url}</value>
            </property>
            <property name="hasextras">
            <value>False</value>
            </property>
        </component>
    </component>
</stitcher>

