WIDTH              {width}
FILE_LENGTH        {length}
WAVELENGTH         {wavelength}
HEADING_DEG        {heading_deg}
CENTER_LINE_UTC    {center_line_utc}
RANGE_PIXEL_SIZE   {range_pixel_size}
AZIMUTH_PIXEL_SIZE {azimuth_pixel_size}
